.contact
{
    background: #000;
}
.contact h3,
.contact p
{
    color: #fff;
}
.contactForm
{
    position: relative;
    max-width: 800px;
    margin: 0 auto;
    display: flex;
}
.contactForm form
{
    width: 100%;
}
.contactForm .row100
{
    display: flex;
    width: 100%;
}
.contactForm .row100 .inputBx50
{
    width: 50%;
    margin: 0 20px;
}
.contactForm .row100 .inputBx100
{
    width: 100%;
    margin: 0 20px;
}
.contactForm .row100 input,
.contactForm .row100 textarea
{
    position: relative;
    border: none;
    border-bottom: 1px solid #fff;
    color: #fff;
    background: transparent;
    width: 100%;
    padding: 10px 0;
    outline: none;
    font-size: 18px;
    font-weight: 300;
    margin: 20px 0;
    resize: none;
}
.contactForm .row100 textarea
{
    height: 100px;
}
.contactForm .row100 input::placeholder,
.contactForm .row100 textarea::placeholder
{
    color: rgba(255,255,255,0.5);
}
.contactForm .row100 .btn
{
    display: flex;
    justify-content: center;
    align-items: center;
    min-width: 100%;
}
.contactForm .row100 .btn a
{
    position: relative;
    margin: 20px 0;
    color: #03e9f4;
    font-size: 30px;
    text-decoration: none;
    overflow: hidden;
    transition: 0.5s;
    letter-spacing: 4px;
    -webkit-box-reflect: below 1px linear-gradient(transparent,#0005);
}
.contactForm .row100 .btn a:hover
{
    background: #03e9f4;
    color: #050801;
    box-shadow: 0 0 5px #03e9f4,
                0 0 25px #03e9f4,
                0 0 50px #03e9f4,
                0 0 200px #03e9f4;
}
.sci
{
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 50px 0;
}
.sci ul
{
    display: flex;
}
.sci ul li
{
    list-style: none;
}
.sci ul li a
{
    text-decoration: none;
    display: inline-block;
    margin: 0 30px;
}
.sci ul li a img
{
    filter: invert(1);
    max-width: 40px;
}
.sci ul li a:hover img
{
    opacity: 0.5;
}
.copyright a
{
    color: #fff;
}
.toggle
{
    display: none;
}
